@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --destructed-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    /* font */
    --manrope: "Manrope", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--light-grayish-blue);
    font-family: var(--manrope);
}

main {
    background-color: white;
    display: flex;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
}

.content {
    max-width: 16.44rem;
}

h1 {
    font-family: var(--manrope);
    font-weight: 700;
    line-height: 1.50rem;
    letter-spacing: 0.01rem;
    color: --very-dark-grayish-blue;
}