@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --destructed-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    /* font */
    --manrope: "Manrope", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--light-grayish-blue);
    font-family: var(--manrope);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--light-grayish-blue);
}

.container {
    background-color: white;
    width: 90%;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    max-height: 32rem;
    padding: 1rem 2rem 2rem;
    background-color: white;
}

h1 {
    font-family: var(--manrope);
    font-weight: 700;
    line-height: 1.50rem;
    letter-spacing: 0.01rem;
    color: var(--very-dark-grayish-blue);
}

.copy {
    font-family: var(--manrope);
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
    color: var(--destructed-dark-blue);
}

.contact{
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem 0 0; 
    background-color: white;
}

.avatar-div{
    align-self: flex-start;
    margin: 0;
    padding-right: 1.5rem;
}

.avatar{
    border-radius: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
}

.avatar-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.name {
    font-family: var(--manrope);
    font-weight: bold;
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
    font-size: 0.81rem;
    margin: 0;
}

.date {
    font-family: var(--manrope);
    color: var(--light-grayish-blue);
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
    font-size: 0.81rem;
    margin: 0;
}

.share-button, .hidden-share-button{
    width: 2rem;
    height: 2rem;
    background-color: var(--light-grayish-blue);
    position: relative;
    border-radius: 50%;
    margin: 0;
    border: none;
    cursor: pointer;
}

.share-img {
    margin: 0 auto;
}

#social {
    display: none; /* Ensure it is hidden by default */
}
  
.social-contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--very-dark-grayish-blue);
    border-radius: 10px;
}

.hidden {
    display: none;
}

/* Desktop */
@media screen and (min-width: 900px) {
    .container{
        display: grid;
        grid-template-columns: 17.81rem 27.81rem;
    }
}