@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --destructed-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    /* font */
    --manrope: "Manrope", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--light-grayish-blue);
    font-family: var(--manrope);
}

main {
    background-color: white;
    display: flex;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    max-height: 32rem;
    padding: 2rem;
}

h1 {
    font-family: var(--manrope);
    font-weight: 700;
    line-height: 1.50rem;
    letter-spacing: 0.01rem;
    color: var(--very-dark-grayish-blue);
}

.copy {
    font-family: var(--manrope);
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
    color: var(--destructed-dark-blue);
}

.contact{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 1rem; */
}

.avatar-div{
    align-self: flex-start;
}

.avatar{
    border-radius: 2rem;
    width: 2.5rem;
    height: 2.5rem;
}

.avatar-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.name {
    font-family: var(--manrope);
    font-weight: bold;
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
    font-size: 0.81rem;
}

.date {
    font-family: var(--manrope);
    color: var(--light-grayish-blue);
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
    font-size: 0.81rem;
}

.share-div{
    align-self: flex-end;
}